.apptly_title{
	font-size: 38px;
	font-weight: bold;
	color: black;
	text-shadow: 1px 1px white;
	font-family: fantasy;
}
.interactive{
	color: black;
	font-size: 16px;
	font-family: serif;
	margin-top: 10px;
}
.nav_bar{
	font-size: 18px;
	color: black;
}
body{
	background: #D8F2FF;
}
.mainbodytext{
	font-size: 20px;
	width: 300px;
	height: 350px;
	margin-left: 100px;
	margin-top: 100px;
	font-family: sans-serif;
	overflow: scroll;
	float: left; 
}
.subbodytext{
	font-size: 20px;
	width: 300px;
	height: 350px;
	margin-right: 100px;
	margin-top: 100px;
	font-family: sans-serif;
	overflow: scroll;
	float: right; 
}











/* .. LINKS ..*/




/* unvisited link */
a:link {
	text-decoration: none;
	color: black;
}
/* visited link */
a:visited {
	text-decoration: none;
	color: grey;
}
/* mouse over link */
a:hover {
	text-decoration: underline;
	color: navy;
}
/* selected link */
a:active {
	text-decoration: underline;
	color: #0000FF;
}