
body {
    background: url("imgs/background_2.jpg"), url("imgs/blue_city.jpg");
    background-size: 1200px 1200px;
    background-repeat: no-repeat;
    background-position: fixed;
}

.dropbar{
	position: absolute;
	right: 170px;
	display: block;
	float: right;
	margin: 0 10px 0 0;
}

.dropbar1{
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0 10px 0 0;
}
.dropbar2{
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0 10px 0 0;
}
.dropbar3{
	position: ;
	left: 0;
	display: block;
	float: left;
	margin: 0 10px 0 0;
}
.top_title{
font-size: 25px;
font-family: fantasy;
margin: -10px;
border: auto;
padding: 10px 10px 10px 10px;
font-weight: bold;
color: white;
float: left;
padding-left: 40px;
}



.leftcolumn {
width: 200px;
float: right;
position: ;
top: ;
padding-left: ;
padding-bottom: ;
}

.leftcolumn1 {
width: 200px;
float: left;
margin-right: 4px;
margin-left: -88px;
background-color: #9C9F84;
padding-left: 100px;
padding-bottom: 950px;
}
.leftcolumn3 {
width: 200px;
float: left;
margin-right: 4px;
margin-left: -88px;
background-color: #9C9F84;
padding-left: 100px;
padding-bottom: 2900px;
}
span.left_h2 {
	color: #8AC007;
}
span.center_h1 {
	color: maroon;
	text-shadow: 1px 1px grey;
	margin-right:;

}

.leftcolumn a:link, .leftcolumn a:visited, .leftcolumn a:hover, .leftcolumn a:active {
display: block;
font-size: 20px;
padding-bottom: 4px;
background-color: ;
color: #555555;
color: #404040;
text-decoration: none;
}

.leftcolumn1 a:link, .leftcolumn1 a:visited, .leftcolumn1 a:hover, .leftcolumn1 a:active {
display: block;
font-size: 20px;
padding-bottom: 4px;
background-color: ;
color: #555555;
color: #404040;
text-decoration: none;
}

.leftcolumn3 a:link, .leftcolumn3 a:visited, .leftcolumn3 a:hover, .leftcolumn3 a:active {
display: block;
font-size: 20px;
padding-bottom: 4px;
background-color: ;
color: #555555;
color: #404040;
text-decoration: none;
}

.rightcolumn a:link, .rightcolumn a:visited, .rightcolumn a:hover, .rightcolumn a:active {
display: inline-block;
font-size: 20px;
padding-bottom: 4px;
background-color: ;
color: #555555;
color: #404040;
text-decoration: none;
}


.interest_bar{
	position: relative;
	right: 600px;
	padding-top: 1000px;
	display: inline-block;
	float: right;
	margin: 0 10px 0 0;
}

.interest_bar1{
	position: relative;
	right: 400px;
	padding-top: 1000px;
	display: inline-block;
	float: right;
	
}
.interest_bar2{
	position: relative;
	right: 20px;
	padding-top: 1000px;
	display: inline-block;
	float: right;
	
}
.interest_bar3{
	position: relative;
	right: 60px;
	padding-top: 1000px;
	display: block;
	float: right;
	
}

span.right_h2 {
	color: navy;
	font-family: sans-serif;
}

span.right_h2_sub {
	color: black;
	font-family: sans-serif;
}

span.vocab {
	font-weight: bold;
	background-color: #5C755E;
	font-size: 25px;

}

.ruby_info {
	text-indent: 20px;
	margin-left: 230px;
	margin-right: 250px;
	font-size: 18px;
	color: white;

}

.basics {
	font-family: serif;
	font-size: 22px;
	margin-left: 250px;
}