









/* .. LINKS ..*/



}
/* unvisited link */
a:link {
	transition: all .5s linear 0;
	text-decoration: none;
	color: grey;
	text-shadow: 2px 2px white;
}
/* visited link */
a:visited {
	text-decoration: none;
	color: grey;
}
/* mouse over link */
a:hover {
	text-decoration: none;
	color: navy;
}
/* selected link */
a:active {
	text-decoration: none;
	color: #0000FF;
}