.keenan{
	color:blue; 
	margin:50px;
	font-size: 20px;
}

.bloghead{
	color: navy;
}

.img1{
	float: top;
	float: right;
}

.img2{
	
	float: left;
}
.phase{
	margin-top:-50px;
	font-style: italic;
	
}

.week01{
	font-size: 18px;
	color: navy;
	border: 2px solid black;
	border: 4px dashed black;
	margin: 15px;
	padding: 20px;
}

.twitter{
	
}

.social{
	position: absolute;
	margin-left: 20px;
	margin: 5;
}

.table{
	
	margin-top: 15px;
	margin-left: 160px;

}

.exampleblog{
	margin: 60px;
	text-align: left;

}


}
/* unvisited link */
a:link {
	text-decoration: none;
	color: black;
}


/* visited link */
a:visited {
	text-decoration: none;
	color: grey;
}


/* mouse over link */
a:hover {
	text-decoration: underline;
	color: navy;
}


/* selected link */
a:active {
	text-decoration: underline;
	color: #0000FF
}